<!DOCTYPE html>
<html>
<head>
  <title>ScrapWebThemes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <%#<div class="col-md-2"></div>%>
      <div class="col-md-12">
        <%= yield %>
      </div>
      <%#<div class="col-md-2"></div>%>
    </div> 
  </div>
</body>
</html>
